<!DOCTYPE html>
<!-- Team Name: Sleepy Programmers: Andy Lin, Shadman Rakib, Raymond Yeung
SoftDev
K14 -- website to push out form inputs to another website
2021-10-14 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz from Welcome from Team Sleepy Programmers: Andy Lin, Shadman Rakib, Raymond Yeung.
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
